@{
    ViewData["Title"] = "Gestão de Estoque";
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>
    <script src="~/js/CRUDAlugavel.js"></script>
}

@section CSS{
    <link rel="stylesheet" href="~/css/CRUDAlugavel.css" />
}

<h1>@ViewData["Title"]</h1>

<div class="formAlugaveis">
    <form>
        <fieldset>
            <input type="hidden" id="idAluga">
            <table class="tableBusca">
                <tbody>
                    <tr>
                        <td>
                            <label for="nomeBuscaAluga">Nome:</label>
                            @*<input type="text" id="nomeBuscaAluga">*@
                            <select id="AlugavelAlu">
                                    <option value="0">Escolha...</option>
                                    @foreach (Alugavel alugavel in ViewBag.listaAlugavel)
                                    {
                                        <option value="@alugavel.Id">@alugavel.Nome</option>
                                    }
                                </select>
                        </td>
                        <td>
                            <input type="button" id="btnBuscaAluga" onclick="buscaAlugavel()" value="Buscar">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <div class="lblDadosAlugavel"><h3>Dados</h3></div>
            <div class="dadosAlugavel">
                <p>
                    <label for="nomeAluga">Nome:</label>
                    <input type="text" id="nomeAluga" class="campoAlugaMedio" disabled>
                </p>
                <p>
                    <label for="descricaoAluga">Descrição:</label>
                    <input type="text" id="descricaoAluga" class="campoAlugaMedio" disabled>
                </p>
                <p>
                    <label for="categoriaAluga">Categoria:</label>
                    <select id="categoriaAluga" disabled>
                        <option value="Acessorio">Acessorio</option>
                        <option value="Computador">Computador</option>
                        <option value="Console">Console</option>
                        <option value="VR">VR</option>
                    </select>
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="valorCompraAluga">Valor de Compra:</label>
                                <input type="text" id="valorCompraAluga" disabled />
                            </td>
                            <td>
                                <label for="valorAluga">Valor para aluguel:</label>
                                <input type="text" id="valorAluga" disabled>
                            </td>
                            <td>
                                <label for="qtdAluga">Quantidade:</label>
                                <input type="text" id="qtdAluga" disabled>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="btnRodape">
                    <tbody>
                        <tr>
                            <td>
                                <input type="button" id="btnNovoAluga" onclick="criaAlugavel()" value="Novo">
                            </td>
                            @*<td>
                            <input type="button" id="btnEditarCli" onclick="editaCliente()" value="Editar">
                    </td>*@
                            <td>
                                <input type="button" id="btnExcluirAluga" onclick="excluiAlugavel()" value="Excluir">
                            </td>

                            <td>
                                <input type="button" id="btnSalvar" onclick="salvaAlugavel()" value="Salvar">
                            </td>
                            <td>
                                <input type="button" id="btnCancelarAluga" onclick="cancela()" value="Cancelar">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>