/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

div.formAlugaveis {
    width: 80%;
    border-style: outset;
}

div.dadosAlugavel {
    border-style: ridge;
    margin-left: 60px;
    margin: 30px;
    width: 80%;
    padding: 15px;
}

div.lblDadosAlugavel{
    margin-left: 75px;
}

input.campoAlugaMedio{
    width: 60%;
}

input.campoAlugaGrande {
    width: 90%;
}

table.tableBusca {
    text-align: center;
    width: 50%;
    margin-top: 30px;
}

table.btnRodape {
    text-align: center;
    width: 100%;
}

td{
    padding: 5px;
}