@{
    ViewData["Title"] = "Gestão de Clientes";
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>
    <script src="~/js/CRUDClients.js"></script>
}

@section CSS{
	<link rel="stylesheet" href="~/css/CRUDClients.css" />
}

<h1>@ViewData["Title"]</h1>

<div class="formClientes">
    <form>
        <fieldset>

            <table class="tableBusca">
                <tbody>
                    <tr>
                        <td>
                            <label for="nomeBuscaCli">Nome:</label>
                            <input type="text" id="nomeBuscaCli">
                        </td>
                        <td>
                            <input type="button" id="btnBuscaCli" onclick="alert('Calma que ainda não tem busca!')" value="Buscar">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <div class="lblDadosCliente"><h3>Dados</h3></div>
            <div class="dadosCliente">
                <p>
                    <label for="nomeCli">Nome:</label>
                    <input type="text" id="nomeCli" class="campoCliMedio">
                </p>
                <p>
                    <label for="emailCli">E-mail:</label>
                    <input type="email" id="emailCli" class="campoCliMedio">
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="celCli">Celular:</label>
                                <input type="tel" id="celCli" />
                            </td>
                            <td>
                                <label for="dataNascCli">Data de Nascimento:</label>
                                <input type="date" id="dataNascCli">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <label for="endCli">Endereço:</label>
                    <input type="text" id="endCli" class="campoCliGrande">
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="sexoCli">Sexo:</label>
                                <select id="sexoCli">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                </select>
                            </td>
                            <td>
                                <label for="cpfCli">CPF:</label>
                                <input type="text" id="cpfCli">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="btnRodape">
                    <tbody>
                        <tr>
                            <td>
                                <input type="button" id="btnNovoCli" onclick="alert('Calma que ainda não tem cadastro!')" value="Novo">
                            </td>
                            <td>
                                <input type="button" id="btnEditarCli" onclick="alert('Calma que ainda não tem Edição!')" value="Editar">
                            </td>
                            <td>
                                <input type="button" id="btnExcluirCli" onclick="alert('Calma que ainda não tem Exclusão!')" value="Excluir">
                            </td>
                            <td>
                                <input type="button" id="btnCancelarCli" onclick="alert('Calma que ainda não tem Cancelar!')" value="Cancelar">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>


